@import 'tailwindcss';

@theme {
	--color-main: oklch(65.24% 0.099 190.71);
	--color-secundary: oklch(32.59% 0.052 250.65);
	--color-black-app: oklch(14.48% 0 0);
	--color-white-app: oklch(98.46% 0.002 247.84);
	--font-kanit: 'Kanit', sans-serif;
}

@layer components {
	.header__itmes {
		@apply px-4 py-8 lg:py-4  hover:bg-main rounded-sm cursor-pointer;
	}
}

/* ------------------------------------------------------------------------- configuracion base del aplicativo ------------------------------------------------------------------------- */

*,
*:before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Kanit';
	line-height: 1.6;
}
