@import 'tailwindcss';

:root {
	--color-main: oklch(65.24% 0.099 190.71);
	--color-secundary: oklch(32.59% 0.052 250.65);
	--color-black-app: oklch(14.48% 0 0);
	--color-white-app: oklch(98.46% 0.002 247.84);
	--border-radius: 0.8rem;
}

@theme {
	--color-main: oklch(65.24% 0.099 190.71);
	--color-secundary: oklch(32.59% 0.052 250.65);
	--color-black-app: oklch(14.48% 0 0);
	--color-white-app: oklch(98.46% 0.002 247.84);
	--font-kanit: 'Kanit', sans-serif;
	--text-Title: 4rem;
	--spacing-app: 120rem;
}

@layer components {
	.header__itmes {
		@apply px-4 py-8 lg:py-4  hover:bg-main rounded-sm cursor-pointer;
	}

	.boton-contacto {
		@apply px-10 py-6 bg-main shadow-md text-center lg:text-3xl flex justify-center items-center gap-4;
	}
}

/* ------------------------------------------------------------------------- configuracion base del aplicativo ------------------------------------------------------------------------- */

*,
*:before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Kanit';
	line-height: 1.6;
	background-color: var(--color-white-app);
}

html::-webkit-scrollbar {
	background-color: var(--color-black-app);
	width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
	background: var(--color-main);
	border-radius: 10rem;
}
